.square {
border: 1px solid black;
}

.container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    height: 800px;
    width: 800px;
}

body {
    display: flex;
    justify-content: center;
}

*{box-sizing: border-box;}